#tweet header {
    background-color: #f7b52c;
}
#tweet header .profile {
    display: inline-block;
    width: 100%;
}
#tweet header .profile img {
    position: absolute;
    width: 6%;
    margin: 1vw;
}
#tweet header .profile p {
    font-size: 8vw;
    text-align: center;
}
#tweet header nav ul {
    border: solid 1px;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#tweet header nav ul li {
    text-align: center;
}
#tweet header nav ul li a {
    display: inline-block;
    padding: 0.7vw 0;
    width: 10vw;
    font-size: 1.1vw;
}
#tweet header nav ul li a:hover {
    text-decoration: none;
}
#tweet header nav ul li:hover {
    background-color: #EEEEEE;
    filter:brightness(80%);
}
#tweet header nav ul.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 8px;
}
#tweet .tweet {
    width: 38vw;
    margin: 5vw auto;
    border: solid 5px #f7b52c;
    background-color: #EEEEEE;
    padding: 1vw;
}
#tweet .tweet form.tweet-form {
    color: #707070;
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tweet .tweet form.tweet-form textarea {
    width: 37vw;
    height: 11vw;
    font-size: 2vw;
}
#tweet .tweet form.tweet-form button.button-save {
    margin-left: 40%;
    margin-top: 1vw;
    border: none;
    font-size: 1.5vw;
    padding: 0.2vw 0.9vw;
    border-radius: 0;
    background-color: #B9DCF2;
    color: #707070;
}
#tweet .tweet form.tweet-form button.button-delete {
    margin-top: 1vw;
    border: none;
    font-size: 1.5vw;
    padding: 0.2vw 0.9vw;
    border-radius: 0;
    background-color: #B9DCF2;
    color: #707070;
}
@media (max-width: 599px) {
    #tweet header .profile {
	height: 20vw;
    }
    #tweet header .profile img {
	width: 17%;
	margin: 1.5vw;
    }
    #tweet header .profile p {
	font-size: 18vw;
    }
    #tweet header nav ul li {
	width: 20%;
    }
    #tweet header nav ul li a {
	display: inline-block;
	width: 90%;
	padding: 2vw 0;
	font-size: 3vw;
    }
    #tweet .tweet {
	width: 90vw;
    }
    #tweet .tweet form.tweet-form textarea {
	width: 87vw;
	height: 35vw;
	font-size: 6vw;
    }
    #tweet .tweet form.tweet-form input[type="submit"] {
	margin: 3vw 3vw 3vw auto;
	padding: 2vw;
	font-size: 5vw;
    }
}
