{% extends "layout.html" %}

{% block css %}favorite{% endblock %}

{% block title %}お気に入り{% endblock %}

{% block body %}
<main id="favorite">
  <header>
    <div class="profile">
      <a href="/profile"><img src={{user[0][0]}} alt=""></a>
      <a href="/profile"><p>{{user[0][1]}}</p></a>
    </div>
    <nav>
      <ul>
	<li><a href="/top">top</a></li>
	<li><a href="/search">検索</a></li>
	<li><a href="/tweet">つぶやく</a></li>
	<li><a href="/favorite">お気に入り</a></li>
	<li><a href="/signout">ログアウト</a></li>
      </ul>
    </nav>
  </header>

  <div class="stream">
    {% if tweets %}
    {% for tweet in tweets %}
    <div class="content">
      <div class="stream-header">
	<a href="/profile/{{tweet[1]}}"><img src={{user[0][0]}} alt=""></a>
	<p>
	  <a href="/profile/{{tweet[1]}}"><span class="user-name">{{tweet[1]}}</span></a>
	  <span class="tweet-time">{{tweet[2]}}</span>
	  <span class="follow">フォロー中</span>
	</p>
      </div>
      <div class="inline">
	<div class="stream-content">
	  <p>{{tweet[3]}}</p>
	</div>
	<div class="stream-footer">
	  <div class="favorite">
	    <a href="/favorite"><img src="../static/img/logo-pic.png" alt=""></a>
	  </div>
	</div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</main>
{% endblock %}
