{% extends "layout.html" %}

{% block css %}index{% endblock %}

{% block script %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
{% endblock %}
  
{% block title %}top{% endblock %}

{% block body %}
  <main id="index">
    <header>
      <div class="profile">
	<a href="/profile"><img src={{user[0][0]}} alt=""></a>
	<a href="/profile"><p>{{user[0][1]}}</p><a>
      </div>
      <nav>
	<ul>
	  <li><a href="/top">top</a></li>
	  <li><a href="/search">検索</a></li>
	  <li><a href="/tweet">つぶやく</a></li>
	  <li><a href="/favorite">お気に入り</a></li>
	  <li><a href="/signout">ログアウト</a></li>
	</ul>
      </nav>
    </header>
{% for tweet in tweets %}
    <div class="stream">
      <div class="content">
	<div class="stream-header">
	  <img src={{tweet[0]}} alt="">
	  <p>
	    <span class="user-name">{{tweet[1]}}</span>
	    <span class="tweet-time">{{tweet[2]}}</span>
	    <span class="follow">フォロー中</span>
	  </p>
	</div>
	<div class="inline">
	  <div class="stream-content">
	    <p>{{tweet[3]}}</p>
	  </div>
	  <div class="stream-footer">
	    <div class="favorite">
	      <a href="#"><img src="../static/img/logo-pic.png" alt=""></a>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    {% endfor %}
</main>
{% endblock %}
  
