{% extends "layout.html" %}

{% block css %}index{% endblock %}

{% block script %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/index.js"></script>
{% endblock %}
  
{% block title %}top{% endblock %}

{% block body %}
<main id="index">
    <header>
      <div class="profile">
	<img src="../static/img/profile.png" alt="">
	<p>taro</p>
      </div>
      <nav>
	<ul>
	  <li><a href="/top">top</a></li>
	  <li><a href="/search">検索</a></li>
	  <li><a href="/tweet">つぶやく</a></li>
	  <li><a href="/favorite">お気に入り</a></li>
	  <li><a href="/signout">ログアウト</a></li>
	</ul>
      </nav>
    </header>

    <div class="stream">

      <div class="content">
	<div class="stream-header">
	  <img src="img/profile.png" alt="">
	  <p>
	    <span class="user-name">taro</span>
	    <span class="tweet-time">2017/11/22/ 16:20</span>
	    <span class="follow">フォロー中</span>
	  </p>
	</div>
	<div class="inline">
	  <div class="stream-content">
	    <p>並阿弥陀</p>
	  </div>
	  <div class="stream-footer">
	    <div class="favorite">
	      <a href="#"><img src="img/logo-pic.png" alt=""></a>
	    </div>
	  </div>
	</div>
      </div>

      <div class="content">
	<div class="stream-header">
	  <img src="img/profile.png" alt="">
	  <p>
	    <span class="user-name">miadfadfasasdfasfdaka</span>
	    <span class="tweet-time">2017/11/22/ 16:20</span>
	    <span class="follow">フォロー中</span>
	  </p>
	</div>
	<div class="inline">
	  <div class="stream-content">
	    <p>並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏</p>
	  </div>
	  <div class="stream-footer">
	    <div class="favorite">
	      <a href="#"><img src="img/logo-pic.png" alt=""></a>
	    </div>
	  </div>
	</div>
      </div>

      <div class="content">
	<div class="stream-header">
	  <img src="img/profile.png" alt="">
	  <p>
	    <span class="user-name">takuya</span>
	    <span class="tweet-time">2017/11/22/ 16:20</span>
	    <span class="follow">フォロー中</span>
	  </p>
	</div>
	<div class="inline">
	  <div class="stream-content">
	    <p>並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏</p>
	  </div>
	  <div class="stream-footer">
	    <div class="favorite">
	      <a href="#"><img src="img/logo-pic.png" alt=""></a>
	    </div>
	  </div>
	</div>
      </div>

      <div class="content">
	<div class="stream-header">
	  <img src="img/profile.png" alt="">
	  <p>
	    <span class="user-name">mika</span>
	    <span class="tweet-time">2017/11/22/ 16:20</span>
	    <span class="follow">フォロー中</span>
	  </p>
	</div>
	<div class="inline">
	  <div class="stream-content">
	    <p>並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏</p>
	  </div>
	  <div class="stream-footer">
	    <div class="favorite">
	      <a href="#"><img src="img/logo-pic.png" alt=""></a>
	    </div>
	  </div>
	</div>
      </div>

      <div class="content">
	<div class="stream-header">
	  <img src="img/profile.png" alt="">
	  <p>
	    <span class="user-name">mika</span>
	    <span class="tweet-time">2017/11/21/ 16:20</span>
	    <span class="follow">フォロー中</span>
	  </p>
	</div>
	<div class="inline">
	  <div class="stream-content">
	    <p>並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏</p>
	  </div>
	  <div class="stream-footer">
	    <div class="favorite">
	      <a href="#"><img src="img/logo-pic.png" alt=""></a>
	    </div>
	  </div>
	</div>
      </div>

    </div>
</main>

{% endblock %}
  
