<html>
  <head>
    <meta charset="utf-8"/>
    <title> tukutter </title>
    <LINK rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <p> <img src=""{{prof_pict}}"" title="Profile picture" onclick="location.href='/profile'"> {{username}} </p>
    <ul class="nav">
      <li><a href="/top">top</a>
      <li><a href="/search">検索</a>
      <li><a href="/tweet">つぶやく</a>
      <li><a href="/favorite">お気に入り</a>
      <li><a href="/logout">ログアウト</a>					
    </ul>
  </body>
</html>

    
    
