{% extends "layout.html" %}

{% block css %}profile{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/js/profile.js"></script>
{% endblock %}

{% block title %}profile{% endblock %}

{% block body %}
<main id="profile">
  <header>
    <div class="profile">
      <a href="/profile"><img src={{user[0][0]}} alt=""></a>
      <a href="/profile"><p>{{user[0][1]}}</p></a>
    </div>
    <nav>
      <ul>
	<li><a href="/top">top</a></li>
	<li><a href="/search/form">検索</a></li>
	<li><a href="/tweet">つぶやく</a></li>
	<li><a href="/favorite">お気に入り</a></li>
	<li><a href="/signout">ログアウト</a></li>
      </ul>
    </nav>
  </header>

  <div class="profilecard">
    <div class="profile-header">
      <img src={{disp_user[0][0]}} alt="">
      <p>
	<span class="user-name">{{disp_user[0][1]}}</span>
	{% if follows[0][0] == '2' %}
	<a href="/profile_edit"><img class="edit" src="/static/img/pencil.png" alt=""></a>
	{% endif %}
       </p>
    </div>
    <div class="profile-content">
      <p>{{disp_user[0][2]}}</p>
    </div>
    {% if   follows[0][0] == '2' %}
    {% elif follows[0][0] == '1' %}
    <div class="follow">
      <a href="/follow/{{disp_user[0][3]}}"><span>フォロー中</span></a>
    </div>
    {% else %}
    <div class="follow">
      <a href="/follow/{{disp_user[0][3]}}"><span>フォローする</span></a>
    </div>
    {% endif %}
  </div>

  <div class="stream">
{% if tweets %}
{% for tweet in tweets %}
  <div class="content">
    <div class="stream-header">
      <a href="/profile/{{users[loop.index0][1]}}"><img src={{users[loop.index0][0]}} alt=""></a>
      <p>
        <a href="profile/{{users[loop.index0][1]}}"><span class="user-name">{{users[loop.index0][1]}}</span></a>
	<span class="tweet-time">{{tweet[0]}}</span>
	{% if follows[0][0] == '2' %}
	<a href="/tweet/{{tweet[3]}}/edit"><img class="edit" src="/static/img/pencil.png" alt=""></a>
	{% endif %}
      </p>
    </div>
    <div class="inline">
      <div class="stream-content">
        <p>{{tweet[1]}}</p>
      </div>
      <div class="stream-footer">
        <div class="favorite">
	  {% if favorites[loop.index0][0] == '1' %}
	  <a href="/favorite/{{tweet[3]}}"><img src="/static/img/logo-pic.png" alt=""></a>
	  {% else %}
	  <a href="/favorite/{{tweet[3]}}"><img src="/static/img/logo-pic_non.png" alt=""></a>
	  {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
  </div>
</main>
{% endblock %}
