{% extends "layout.html" %}

{% block css %}profile_edit{% endblock %}

{% block title %}プロフィール編集{% endblock %}

{% block body %}

<main id="profile_edit">
  <div class="logo">
    <p>プロフィール編集</p>
  </div>
  <form action="/profile_edit" method="post" enctype="multipart/form-data">
    <div class="inline">
      <label for="userid">image</label>
      <input id="file" class="file" type="file" name="img_file" value="">
    </div>
    <div class="info">
      <p>サイズは1MBまで。フォーマットは.png .jpgのみ。</p>
    </div>
    <div class="inline">
      <label for="userid">ログインID</label>
      <input type="text" name="login_id" value="{{login_id}}" disabled="disabled">
    </div>
    <div class="inline">
      <label for="password">新しいパスワード</label>
      <input type="password" name="password" value="">
    </div>
    {% if error_pw %}
    <div class="error">
      <p>パスワードが一致していません。</p>
    </div>
    {% endif %}
    <div class="inline">
      <label for="password">パスワード確認</label>
      <input type="password" name="conf_password" value="">
    </div>
    <div class="inline">
      <label for="username">ユーザーネーム</label>
      <input type="text" name="username" value="">
    </div>
    {% if error_un %}
    <div class="error">
      <p>すでに使われています。</p>
    </div>
    {% endif %}
    <div class="inline">
      <label for="profile">自己紹介</label>
      <textarea type="text" name="profile" value=""></textarea>
    </div>
    <input class="button" type="submit" name="submit" value="登録">
  </form>
 </main>
{% endblock %}
