{% extends "layout.html" %}

{% block css %}tweet{% endblock %}

{% block title %}tweet{% endblock %}

{% block body %}
 <main id="tweet">
    <header>
      <div class="profile">
        <img src={{user[0][0]}} alt="">
        <p>{{user[0][1]}}</p>
      </div>
      <nav>
        <ul>
          <li><a href="/top">top</a></li>
          <li><a href="/search">検索</a></li>
          <li><a href="/tweet">つぶやく</a></li>
          <li><a href="favorite">お気に入り</a></li>
          <li><a href="/signout">ログアウト</a></li>
        </ul>
      </nav>
    </header>

    <div class="tweet">
      <form class="tweet-form" action="/tweet/edit" method="post">
        <textarea name="edited_tweet" value="{{content}}"></textarea>
	<input type="hidden" name="tweet_id" value="{{tweet_id}}">
        <button type="submit" name="submit" value="save">保存</button>
	<button type="submit" name="submit" value="delete">削除</button>
      </form>
    </div>

  </main>
{% endblock %}
